[submodule "docker/gopro2gpx"]
	path = docker/gopro2gpx
	url = https://github.com/NetworkAndSoftware/gopro2gpx
[submodule "docker/gpmf-parser"]
	path = docker/gpmf-parser
	url = https://github.com/gopro/gpmf-parser
